<main class="flex">
  <section class="flex">
    <header class="flex">
      <img
        src="./assets/img/tinder-logo.webp"
        width="24"
        height="24"
        alt="Tinder Logo"
      />
    </header>

    <div class="cards">
      <article *ngFor="let c of cards">
        <img [src]="c.src" [alt]="c.alt" width="100%" height="100%" />
        <h2 class="flex">
          {{ c.nombre }} <span>{{ c.edad }}</span>
        </h2>
        <div class="choice nope">NOPE</div>
        <div class="choice like">LIKE</div>
      </article>

      <span>
        No hay mas personas cerca de ti... <br />
        Vuelve mas tarde
      </span>
    </div>

    <footer class="flex">
      <button class="is-undo" arial-label="undo"></button>
      <button class="is-remove is-big" arial-label="remove"></button>
      <button class="is-star" arial-label="star"></button>
      <button class="is-fav is-big" arial-label="fav"></button>
      <button class="is-zap" arial-label="zap"></button>
    </footer>
  </section>
</main>
